/*
jordy,
17-11-2025
*/

:root {
    /*main colors*/
    --background-main: hsla(240, 33%, 87%, 1);
    --header-pri: hsla(304, 36%, 42%, 1);
    --header-sec: hsla(287, 41%, 35%, 1);
    /*ext colors*/
    --text-1: hsla(0, 0%, 10%, 1);
}

body, html {
    background-color: var(--background-main);
}

.header {
    top: 0;
    background-color: var(--header-pri);
    color: var(--text-1);
    position: sticky;
    width: auto;
    padding: 2.5%;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}
.header h2 {
    margin: 0;
    font-size: 1.5em;
    color: var(--header-sec);
}
.header p {
    margin: 0;
    font-size: 1em;
}
.header a {
    color: var(--text-1);
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}
.content {
    margin: 5% 10%;
    font-size: 1.2em;
    color: var(--text-1);
}
.content h2 {
    color: var(--header-sec);
}
.content a {
    color: var(--text-1);
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.footer {
    background-color: var(--header-pri);
    color: var(--text-1);
    text-align: center;
    padding: 2%;
    position: relative;
    bottom: 0;
    width: auto;
    margin-top: 5%;
}
.footer p {
    margin: 0;
    font-size: 1em;
}
.footer a {
    color: var(--text-1);
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}